@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

.navBar {
  position: sticky;
  z-index: 2;
  background: linear-gradient(#8cd16d, white); }
  .navBar nav {
    font-size: 17px; }
  .navBar img {
    width: 100px;
    height: 100px; }
  .navBar ul li {
    border-radius: 5px; }
    .navBar ul li:hover {
      background-color: #e5e5e5; }
  .navBar .dropdown-menu {
    background-color: #e5e5e5;
    font-size: 1rem; }
  .navBar .dropdown-item {
    background-color: #e5e5e5; }
    .navBar .dropdown-item:hover {
      background-color: #8cd16d; }
  .navBar .btn {
    text-transform: uppercase;
    color: #8cd16d;
    border: solid 2px;
    background-color: #e5e5e5; }
    .navBar .btn:hover {
      color: #e5e5e5;
      background-color: #8cd16d; }

.navbar-toggler {
  background-color: #e5e5e5;
  border-radius: 3px; }

li {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px; }

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif; }

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px; }
  .container img {
    width: 100%;
    height: 100%; }
  .container img:hover {
    opacity: 80%; }
  .container h1 {
    position: absolute;
    color: white;
    bottom: 0; }

* {
  font-family: "Poppins", sans-serif; }

.form {
  background-color: #444;
  color: white;
  margin: 15px 200px;
  padding: 15px;
  border-radius: 10px; }

.botonEnviar {
  text-align: center; }
  .botonEnviar button {
    color: black;
    background-color: #e5e5e5;
    transition: 2s; }
  .botonEnviar button:hover {
    background-color: #8cd16d; }

.mapa {
  text-align: center; }

.redes {
  position: fixed;
  top: 40%;
  /* bottom: 15px; */
  left: 10px; }

.redesBoton {
  width: 55px;
  height: 55px;
  display: block;
  box-shadow: 0 3px 6px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease;
  margin-bottom: 15px; }
  .redesBoton:hover {
    width: 100%;
    padding: 10px; }
    .redesBoton:hover:nth-child(1):hover {
      color: #4267b2; }
    .redesBoton:hover:nth-child(2):hover {
      color: #e1306c; }
    .redesBoton:hover:nth-child(3):hover {
      color: #25d366; }

.facebook {
  color: black; }

.redesBoton p {
  display: none; }

.redesBoton:hover > p {
  display: block; }

h1 {
  margin: 30px;
  text-align: center; }

h2 {
  text-align: center;
  margin: 30px;
  font-size: 25px; }

section p {
  color: black;
  font-size: 20px;
  margin: 50px; }

.botones {
  background-color: white; }
  .botones:hover {
    color: #e5e5e5;
    background-color: #8cd16d; }

.fondoIndex {
  background-color: #e5e5e5;
  margin: 0%; }

.fondo {
  background: #444;
  margin: 0%;
  padding: 15px;
  font-family: 'Lato', sans-serif; }
  .fondo h1 {
    color: white;
    text-align: center; }

.galeria {
  width: 90%;
  border: 7px solid white;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .galeria li {
    margin: 5px; }
  .galeria img {
    width: 150px;
    height: 100px; }

.modal {
  display: none; }
  .modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .modal h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 15px 0; }
  .modal p {
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 10px; }

.foto1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .foto1 a {
    color: white;
    font-size: 40px;
    margin: 0 10px; }
  .foto1 a:nth-child(2) {
    margin: 0;
    height: 100%; }
  .foto1 img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid black;
    box-sizing: border-box; }

.cerrar {
  display: block;
  background: white;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  font-size: 25px;
  color: black;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px; }

.buscarCategoria {
  text-align: center; }

.indexElectricidad:hover {
  opacity: 50%; }

.indexConstruccion:hover {
  opacity: 50%; }

.indexJardineria:hover {
  opacity: 50%; }

.indexPinturas:hover {
  opacity: 50%; }

.footer {
  background-color: black;
  color: bisque;
  padding-bottom: 30px;
  padding-top: 30px; }

/* vista celu index */
@media (max-width: 768px) {
  .carrusel {
    display: none; } }
