.navBar {
    position:sticky;
    z-index: 2;
    background: linear-gradient($color-fondo-2, $color-principal);

    nav {
        font-size: 17px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    ul {
        li {
            border-radius: 5px;
            &:hover {
                background-color:$color-fondo-1
            }
        }
    } 

    .dropdown-menu {
        background-color: $color-fondo-1;
        font-size: 1rem;
    }

    .dropdown-item {
        background-color: $color-fondo-1;
        &:hover {
            background-color: $color-fondo-2;
        }
    }

    .btn {
        text-transform: uppercase;
        color: $color-fondo-2;
        border: solid 2px;
        background-color: $color-fondo-1;

        &:hover {
            color: $color-fondo-1;
            background-color: $color-fondo-2
        }
    }
}

.navbar-toggler {
    background-color: $color-fondo-1;
    border-radius: 3px;
}

li {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}