a {
    text-decoration: none;
    color: $color-titulos;
    font-family: 'Lato', sans-serif;
}

.botonCarrusel {
    background-color: $color-principal;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        background-color: $color-fondo-1
    }
}

.buscarCategorias img {
    width: 100px;
    height: 200px;
    
}