/* maps */

$redesContacto: (facebook: #4267b2, instagram: #e1306c, whatsapp: #25d366);
@each $redes, $color in $redesContacto {
    .#{$redes} {
        color: $color;
    }
}

/* map-get */

$estilo: (color: #e5e5e5, tamFuente:25px );

.navbar {
    background-color: map-get($map: $estilo , $key: color);
    font-size: map-get($map: $estilo , $key: tamFuente);
}