* {
    font-family: "Poppins", sans-serif;
  }

.form {
    background-color: #444;
    color: $color-principal;
    margin: 15px 200px;
    padding: 15px;
    border-radius: 10px
}

.botonEnviar {
    text-align: center;

    button {
        color: black;
        background-color: $color-fondo-1;
        transition: 2s;
    }

    button:hover {
        background-color: $color-fondo-2;
    }
}


.mapa {
    text-align: center;
}


.redes {
    position: fixed;
    top: 50%;
    /* bottom: 15px; */
    left: 10px;
  }
  
  .redesBoton {
    width: 55px;
    height: 55px;
    display: block;
    box-shadow: 0 3px 6px rgb(0, 0, 0.2);
    border-radius: 10px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #222;
  
    transition: all 0.3s ease;
    margin-bottom: 15px;

    &:hover {
        width: 100%;
        padding: 10px;
    
        &:nth-child(1):hover {
            color: #4267b2;
          }
    
        &:nth-child(2):hover {
            color: #e1306c;
          }
    
        &:nth-child(3):hover {
            color: #25d366;
          }
      }
  }

  .facebook {
    color: black;
  }

  .redesBoton p {
    display: none;
  }
  
  .redesBoton:hover > p {
    display: block;
  }

  
  
  

  
  