/* vista celu index */

@media (max-width:768px) {
    .marcas {
        display: none;
    }

    h1 {
        display: none;
    }

    .logoFerreteria {
        height: 100px;
        width: 100px;
    }


    .miCuenta {
        font-size: 15px;
    }
} 

/* vista celu alquileres */
@media (max-width:768px) {
    .logoFerreteria {
        height: 100px;
        width: 100px;
    }

}